In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('weather_city.csv')
data.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,lat,lon,name,timestamp_local,timestamp_utc,app_temp,...,solar_rad,temp,ts,uv,vis,weather_code,weather_description,wind_dir,wind_gust_spd,wind_spd
0,0,0.0,0.0,0.0,-33.8688,151.2093,Sydney,2021-01-11T11:00:00,2021-01-11T00:00:00,26.4,...,909,26.1,1610323200,8.4,NaN,801,Few clouds,38.0,5.2,2.0
1,1,1.0,1.0,1.0,-33.8688,151.2093,Sydney,2021-01-11T12:00:00,2021-01-11T01:00:00,28.5,...,1004,27.4,1610326800,10.5,NaN,801,Few clouds,44.0,6.4,3.2
2,2,2.0,2.0,2.0,-33.8688,151.2093,Sydney,2021-01-11T13:00:00,2021-01-11T02:00:00,28.8,...,1042,27.9,1610330400,11.8,NaN,800,Clear Sky,50.0,7.6,4.4
3,3,3.0,3.0,3.0,-33.8688,151.2093,Sydney,2021-01-11T14:00:00,2021-01-11T03:00:00,28.7,...,1015,28.1,1610334000,11.2,NaN,800,Clear Sky,56.0,8.8,5.2
4,4,4.0,4.0,4.0,-33.8688,151.2093,Sydney,2021-01-11T15:00:00,2021-01-11T04:00:00,28.9,...,921,28.1,1610337600,9.3,NaN,800,Clear Sky,58.0,9.6,5.6

In [3]:
data.isnull().sum()

Unnamed: 0.3               0
Unnamed: 0.2            8760
Unnamed: 0.1           26280
Unnamed: 0             70080
lat                        0
lon                        0
name                       0
timestamp_local            0
timestamp_utc              0
app_temp                   0
azimuth                    0
clouds                     0
dewpt                      0
dhi                        0
elev_angle                 0
ghi                        0
pod                        0
precip                     0
pres                    8172
revision_status            0
rh                         0
slp                     8172
snow                       0
solar_rad                  0
temp                       0
ts                         0
uv                         0
vis                    30335
weather_code               0
weather_description        0
wind_dir                 161
wind_gust_spd              0
wind_spd                   0
dtype: int64

In [4]:
data.dropna(subset=['pres','slp','vis'], inplace=True)

In [5]:
data.isnull().sum()

Unnamed: 0.3               0
Unnamed: 0.2            8760
Unnamed: 0.1           26123
Unnamed: 0             60797
lat                        0
lon                        0
name                       0
timestamp_local            0
timestamp_utc              0
app_temp                   0
azimuth                    0
clouds                     0
dewpt                      0
dhi                        0
elev_angle                 0
ghi                        0
pod                        0
precip                     0
pres                       0
revision_status            0
rh                         0
slp                        0
snow                       0
solar_rad                  0
temp                       0
ts                         0
uv                         0
vis                        0
weather_code               0
weather_description        0
wind_dir                   0
wind_gust_spd              0
wind_spd                   0
dtype: int64

In [8]:
data = data.drop(['Unnamed: 0.3','Unnamed: 0.2','Unnamed: 0.1','Unnamed: 0', 'timestamp_utc','revision_status','pod','ts'], axis = 1)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 251257 entries, 8521 to 280319
Data columns (total 25 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   lat                  251257 non-null  float64
 1   lon                  251257 non-null  float64
 2   name                 251257 non-null  object
 3   timestamp_local      251257 non-null  object
 4   app_temp             251257 non-null  float64
 5   azimuth              251257 non-null  float64
 6   clouds               251257 non-null  int64
 7   dewpt                251257 non-null  float64
 8   dhi                  251257 non-null  int64
 9   elev_angle           251257 non-null  float64
 10  ghi                  251257 non-null  int64
 11  precip               251257 non-null  float64
 12  pres                 251257 non-null  float64
 13  rh                   251257 non-null  int64
 14  slp                  251257 non-null  float64
 15  snow                 251257 non-null  float64
 16  solar_rad            251257 non-null  int64
 17  temp                 251257 non-null  float64
 18  uv                   251257 non-null  float64
 19  vis                  251257 non-null  float64
 20  weather_code         251257 non-null  int64
 21  weather_description  251257 non-null  object
 22  wind_dir             251257 non-null  float64
 23  wind_gust_spd        251257 non-null  float64
 24  wind_spd             251257 non-null  float64
dtypes: float64(16), int64(6), object(3)
memory usage: 49.8+ MB

In [10]:
#Xử lý thời gian:
import datetime as dt
from datetime import timedelta
data["Date"]=pd.to_datetime(data['timestamp_local'])

## EDA

### Phân tích về độ biến động của từng đặc trưng

In [11]:
#Tạo 1 dataframe cho 1 thành phố cụ thể là Sydney
weather_data = pd.DataFrame(data)
# Creating a new DataFrame for 'Sydney' city
sydney_weather = weather_data[weather_data['name'] == 'Sydney']

In [ ]:
features = ['app_temp', 'clouds', 'dewpt', 'precip', 'rh', 'temp']

fig, axs = plt.subplots(len(features), figsize=(10, 8), sharex=True)
fig.suptitle('Biến động giá trị các đặc trưng 'app_temp', 'clouds', 'dewpt', 'precip', 'rh', 'temp' theo thời gian')

for i, feature in enumerate(features):
    axs[i].plot(data['Date'], data[feature])
    axs[i].set_ylabel(feature)

plt.xlabel('Date')
plt.show()